/* add your CSS here */
img {
  height: 200px;
  width: 300px;
}
#card {
  width: 335px;
}
#name {
  font-family: Helvetica,sans-serif;
}
.box-shadow {
  box-shadow: 8px 8px 25px 0px rgba(50, 50, 50, 0.75);
}
#description {
  font-family: "Times New Roman",sans-serif;
  font-style: italic;
}
span {
  font-weight: bolder;
}
.border {
  border: 1px solid #cecece;
  border-radius: 8px;
}
.padding {
  padding-right: 1rem;
  padding-left: 1rem;
}
.margin {
  margin-left: 1rem;
}
